.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    text-align: left;
    height: auto;
    background-color: var(--primary);
    color: var(--secondary);
}

.maintext{
    padding-left: 5vw;
    padding-right: 5vw;
}

.maintext h2 {
    font-size: var(--h2);
    color: var(--secondary);
    margin-bottom: 1rem;
}

.maintext strong {
    font-size: var(--h2);
    color: var(--secondary);
    font-weight: 500;
}

.maintext ol li {
    font-size: var(--s-h1);
    color: var(--secondary);
    text-align: left;
    width: 90%;
}

.maintext ol {
    counter-reset: li; 
  }
  
  .maintext ol li {
    counter-increment: li; 
    text-indent: -2em;
    padding-left: 2em; 
  }
  
  .maintext ol li::before {
    content: counter(li) ". "; 
    text-indent: -2em; 
    padding-right: 1em;  
  }

  .header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 1.5vh;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    @media screen and (max-width: 768px){
        flex-direction: column;
    }
    
}


.logo{
    padding-top: 2vh;
}


.searchbar{
    width: max-content;
    display: flex;
    align-self: center;
    padding: 0.5rem 1.15rem 0.5rem 0.5rem;
    border-radius: 5rem;
    border: 3px solid var(--secondary);
}

.input{
    background-color: transparent;
    border: none;
    outline: none;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: .5rem;
    color: var(--tertiary);
}

.searchicon{
    color: var(--secondary);
    cursor: pointer;
    width: 2rem;
}





  